.yourAccount{
        font-family: lato, sans-serif;
}
.yourAccount p{
    font-size: 14px;
    margin-bottom: 10px;
    font-family: lato, sans-serif;
}
.yourAccount .yourAccountContent h4{
    margin: 10px 0;
}
.yourAccount .yourAccountContent a{
    color: #000;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.yourAccount a:hover{
    color: #303030;
    border-bottom: none;    
}
.yourAccount .logOutButton{
     background: none !important;
     color: #000 !important;
     border: none !important;
     font-size: 20px !important;
     font-weight: 300 !important;
     margin: 5px 0 !important;
     padding: 0 !important;
     border-bottom: 1px solid #000 !important;
}

.yourAccount .logOutButton:hover{
    color: #303030 !important;
    border-bottom: none !important;
}